@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Octo FX Legacy!</h1>
    <p>Octo FX Legacy has the following features ... </p>
    <ul>
        <li>Feature 1</li>
        <li>Feature 2</li>
    </ul>
        
</div>