@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Octo FX Legacy!</h1>
    <p>Octo FX Legacy has the following features ... </p> 
        
</div>